@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  width: fit-content;
}
